.user-page {
  background-color: #f6f2ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.profile-section {
  flex: 1;
  margin-right: 20px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-details h3 {
  margin-bottom: 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat {
  text-align: center;
}

.stat h4 {
  margin-bottom: 5px;
}

.edit-profile-button {
  background-color: #6b3eff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.collections-section {
  flex: 1;
  margin-left: 20px;
}

.collections-section h3{
  color:#d7a8f5;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.collection-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.collection-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.collection-card h4 {
  margin-bottom: 0;
}

.hashtag-post {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin:20px;
}

.hashtag-post img {
  width: 160px;
  height: 160px;
  border-radius: 10%;
  margin-right: 10px;
}

.hashtag-info {
  flex: 1;
  margin:1%;
  }

.hashtag-info h4 {
  margin-bottom: 5px;
  width:95px;
}

.hashtag-info p {
  color: #888888;
  margin: 0;
}
.hashtag-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-title {
  width:auto;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  background: #white;
}

.section-title h3{
    color:#d7a8f5;
    font-size:30px;
    margin-left:10%;
}